
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>



<th:block th:include="fragments/navbar"></th:block>

<p>&nbsp;</p>

    <div class="container-fluid">
        <th:block layout:fragment="content"/>
        <th:block layout:fragment="sidebar"/>
    </div>

<p>&nbsp;</p>

<th:block th:include="fragments/footer"></th:block>
<th:block th:include="fragments/javascript_url ::  javascript_url"></th:block>

</body>
</html>