<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
>
<head>
</head>
<body>
<th:block layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div style="width: 25rem;">
                <form class="text-center border border-light p-5" th:action="@{/postData}">
                    <p class="h4 mb-4">Welcome to Weather App</p>
                    <p>Please enter city name and day value to see weather forecasts.</p>

                    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="City" th:name="city">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" th:name="days">
                        <option selected>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    <p>&nbsp;</p>
                    <button class="btn btn-info btn-block" type="submit">See weather forecasts</button>
                </form>
            </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

</th:block>

</body>
</html>
